/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 200px;
  }
}

/* Social icons under profile */
.profile .social-icons {
  margin-top: 10px;
  justify-content: center;   /* center horizontally */
}

.profile .social-icons a {
  margin: 0 5px;
  font-size: 1.8rem;  /* Adjust icon size */
  color: var(--global-text-color);
  transition: color 0.3s ease;
  text-decoration: none;     /* remove underline */
}

.profile .social-icons a:hover {
  color: var(--global-theme-color); /* Highlight color on hover */
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
